{% extends 'base.html' %}

{% block title %}TOPページ{% endblock %}

{% block h2 %}<h2>家計簿TOPページ</h2>{% endblock %}

{% block content %}
<div class="top-submit">
    <form action="{{ url_for('input_page')}}">
        <button type="submit">
            家計簿入力
        </button>
    </form>
    <form action="{{ url_for('search_top')}}">
        <button type="submit">
            検索画面
        </button>
    </form>
    <form action="{{ url_for('master_top')}}">
        <button type="submit">
            マスタTOP画面
        </button>
    </form>
</div>
{% endblock %}

{% block footer %}
    <form action="{{ url_for('app_login')}}"
          method=None>
        <button type="submit">
            ログアウト
        </button>
    </form>
{% endblock %}