{% extends 'base.html' %}

{% block title %}ユーザー編集{% endblock %}

{% block h2 %}
    <h2>
        ユーザー編集画面
    </h2>
{% endblock %}

{% block content %}
<form method="POST">

    <div>
        ユーザー名：
        <input type="text" 
               name="name" 
               value="{{ User.name }}">
    </div>

    <button type="submit">
        更新
    </button>

</form>
{% endblock %}

{% block footer %}
    <a href="{{ url_for('master_top')}}">
        マスタTOP画面へ
    </a>
    <br>
    {{super()}}
{% endblock %}