{% extends 'base.html' %}

{% block title %}費目編集{% endblock %}

{% block h2 %}
    <h2>
        費目編集画面
    </h2>
{% endblock %}

{% block content %}
<form method="POST" class="edit-form">

    <div class="form-row">
        <label>費目名</label>
        <input type="text"
               name="name"
               value="{{ category.name }}">
    </div>

    <div class="form-row">
        <label>種類</label>

        <select name="transaction_type">
            <option value="income"
                {% if category.transaction_type == 'income' %}
                selected
                {% endif %}
            >
                収入
            </option>

            <option value="expense"
                {% if category.transaction_type == 'expense' %}
                selected
                {% endif %}
            >
                支出
            </option>
        </select>
    </div>

    <div class="form-button">
        <button type="submit">更新</button>
    </div>

</form>
{% endblock %}

{% block footer %}
    <a href="{{ url_for('master_top')}}">
        マスタTOP画面へ
    </a>
    <br>
    {{super()}}
{% endblock %}
